<footer>
  <div class="container">
    <div class="footer-content">
      <%= image_tag "swop-logotype-light.svg" %>
      <h1 class="call-to-action-text">Start now</h1>
      <%= link_to 'Start selling', new_product_path, class: 'btn btn-primary-custom' %>
    </div>
  </div>
</footer>
