.btn-primary-custom-lg {
  background-color: $orange;
  color: white;
  border-radius: 15px;
  padding: 12px 24px;
}

.btn-primary-custom {
  background-color: $orange;
  color: white;
  border-radius: 12px;
  padding: 8px 16px;

}
